<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /


    #Regla para las carpetas de views
   # RewriteRule ^(.*)Views?/(.*)$ index.php?module=$2&action=index [L,QSA]


    #Regla para enviar a la pantalla de acceso denegado 403
    RewriteRule accesoProhibido403 view/accesoProhibido403.php [L,QSA]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/(.*)/(.*)$ index.php?module=$1&action=$2&id=$3 [L,QSA]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/(.*)$ index.php?module=$1&action=$2 [L,QSA]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?module=$1&action=index [L,QSA]


</IfModule>
