</main>
<!-- End main -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <audio id="demo" src="/mp3/sonidos.mp3"></audio>
    <audio id="basta-chicos" src="/mp3/basta-chicos.mp3"></audio>
    <audio id="gracias-pa" src="/mp3/gracias-pa.mp3"></audio>
    <div class="footer-top">
        <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h5 >Integrantes</h5>
                <br>
                </div>
                <div class="row col-12 text-center">
                    <div class="col-3 text-center">
                        <img src="/../view/img/Integrantes/nico.jpg" style="max-width:100px;max-height:100px;" class="rounded" alt="Cinque Terre">
                        <p style="font-size:20px;">Nicolás Diaz Velar</p>
                    </div>
                    <div class="col-3 text-center">
                        <img src="/../view/img/Integrantes/javi.jpg" style="max-width:100px;max-height:100px;" class="rounded" alt="Cinque Terre">
                        <p style="font-size:20px;">Javier Terranova</p>
                    </div>
                    <div class="col-3 text-center">
                        <img src="/../view/img/Integrantes/seba.jpg" style="max-width:100px;max-height:100px;" class="rounded" alt="Cinque Terre">
                        <p style="font-size:20px;">Sebastian Tofano</p>
                    </div>
                    <div class="col-3 text-center">
                        <img src="/../view/img/Integrantes/juli.jpg" style="max-width:100px;max-height:100px;" class="rounded" alt="Cinque Terre">
                        <p style="font-size:20px;">Julian Antonuccio</p>
                    </div>
                </div>
            </div>

</footer>
<!-- End Footer -->

<!-- Fecha para subir al principio y preloader de la vista -->
<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

<!-- Vendor JS Files -->
<script src="/view/vendor/jquery/jquery.min.js"></script>
<script src="/view/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/view/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/view/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/view/vendor/venobox/venobox.min.js"></script>
<script src="/view/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/view/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="/view/js/main.js"></script>
<!--<script src="/view/js/modoOscuro.js"></script>-->
<script src="/view/js/location.js"></script>
<script src="/view/js/aprobaciones.js"></script>
<script src="/view/js/baile.js"></script>
<script src="/view/js/clima.js"></script>
<script src="/view/js/home.js"></script>
<script src="/view/js/ubicacion.js"></script>
{{! Data Tables }}
<script type="text/javascript"  charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

<script>

</script>


<script>

    if(window.location.pathname == "/nota" || window.location.pathname == "/revistas/estadoRevistas" ){
        $(document).ready( function () {
            $('#dataTable').DataTable({
                "language": {
                        "url": "http://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                    }
            });
        });
    }
    
</script>
</body>

</html>