<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Infonete Noticias</title>

    <!-- Favicons -->
   <!--
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    -->

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!-- CSS -->
    <link href="/view/css/style.css" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/view/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/view/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/view/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/view/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/view/vendor/remixicon/remixicon.css" rel="stylesheet">
    <!-- <link href="/view/vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet"> -->
    <link href="/view/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/view/vendor/aos/aos.css" rel="stylesheet">

</head>

<body>




    <!-- ======= Header ======= -->
    <header id="header" class="header-inner-pages">
        <div class="container d-flex align-items-center">
            <h1 class="logo mr-auto"><a href="index.html" class="scrollto font-weight-bold">INFONETE</a></h1>

            <!-- Iniciar sesión start
            <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
                <div class="container d-flex align-items-center">
                    <div class="cta ml-auto">
                            <a href="#login" class="font-weight-bold">Iniciar sesión</a>
                    </div>
                </div>
            </div>-->
            <!-- Iniciar sesión end -->
        </div>
    </header>
    <!-- Header end -->

    <!-- Main -->
    <main id="main">