<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>InFORTnete Noticias</title>

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">
    <!-- CSS -->
    <link href="/view/css/style.css" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/view/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/view/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/view/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/view/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/view/vendor/remixicon/remixicon.css" rel="stylesheet">
    <!-- <link href="/view/vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet"> -->
    <link href="/view/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/view/vendor/aos/aos.css" rel="stylesheet">

</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="header-inner-pages">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="/" class="scrollto font-weight-bold">InFORTnete</a><img src="/images/icon.png"/></h1>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class=""><a href="/inicioAdministrador" class="font-weight-bold">Administración general</a></li>
                <li class=""><a href="/usuarios" class="font-weight-bold">Usuarios</a></li>
                <li class=""><a href="/aprobaciones" class="font-weight-bold">Aprobaciones pendientes</a></li>
                <li class=""><a href="/graficos" class="font-weight-bold">Gráficos</a></li>
                <li class=""><a href="/descargas" class="font-weight-bold">Descargas PDF</a></li>
                <li class=""><a href="/votos" class="font-weight-bold">Votos</a></li>

            </ul>


        </nav><!-- .nav-menu -->

    </div>
</header>
<!-- End Header -->

<!-- Main -->
<main id="main">