<!-- Sidebar -->
<div class="col-md-2 mt-2 ml-3">
    {{#usuario}}
        <h3>Bienvenide {{nombre}}</h3>
    {{/usuario}}
    <h5>Lector</h5>
    <a href="/login/cerrarSesion" class="badge badge-danger">Cerrar sesión</a>
    <br />
    <a href="/" class="badge badge-info">Ir al inicio</a>
    <br>
    <!-- Catálogos -->
    <h3 class="h5 mt-5">Catálogos de revistas</h3>
    <div class="categories">
        <ul>
            {{#cantRevistasPorCatalogo}}
                <li><a href="/catalogos/catalogo/{{id}}" >{{nombre}} <span>({{cantidad}})</span></a></li>
            {{/cantRevistasPorCatalogo}}
            <a href="/revistas"> <em><strong>Todas las revistas</strong></em></a>

        </ul>
    </div>
    <!-- End Categorias-->
    <!-- Clima de AccuWeather -->
    <div class="">
        {{#climaActual}}
            <h3>{{ubicacion}}</h3>
            <h3>{{descripcion}}</h3>
            <h3>{{temperatura}}</h3>
            <img src="{{icono}}">
        {{/climaActual}}
    </div>
    <!-- End Clima de google -->
</div>
<!-- End Sidebar -->