<!-- Sidebar -->
<div class="col-md-2 mt-2 ml-3">
    {{#usuario}}
        <h3>Bienvenido {{nombre}}</h3>
    {{/usuario}}
    <h5>Administrador</h5>
    <a href="/login/cerrarSesion" class="font-weight-bold">Cerrar sesión</a>
    <br />
    <a href="/">Inicio</a>
    <br />



    <!-- Clima de google -->
    <div class="">
        <h1 class="display-4 btn-primary p-4">Clima de Google</h1>
    </div>
    <!-- End Clima de google -->
</div>
<!-- End Sidebar -->