<!-- Sidebar -->
<div class="col-md-2 mt-2 ml-3">
    {{#usuario}}
        <h3>Bienvenido {{nombre}}</h3>
    {{/usuario}}
    <h5>Administrador</h5>
    <a href="/login/cerrarSesion" class="badge badge-danger">Cerrar sesión</a>
    <br />
    <a href="/inicioAdministrador" class="badge badge-info">Ir al inicio</a>



    <!-- Clima de google -->
    <div class="">
        {{#climaActual}}
            <h3>{{ubicacion}}</h3>
            <h3>{{descripcion}}</h3>
            <h3>{{temperatura}}</h3>
            <img src="{{icono}}">
        {{/climaActual}}
    </div>
    <!-- End Clima de google -->
</div>
<!-- End Sidebar -->